
body {
    background-color: black;
    margin: 0;
    position: absolute;
}

#grid {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    min-width: 100%;
    min-height: 100%;

    height: 100%;
    width:100%;

    position: absolute;
}

#grid div {
    border-color: white;
    border-width: 1px;
    border-style: solid;
}
